:root {
    font-family: 'Montserrat', sans-serif;
   --header-color:#16121280;
   --dark-blue:#2b354e ;
   --lite-blue:#C6E6F0;
   --liite:#5c6f9e;
   --white:#fff;
   --black:#000;         
   --grey:#898082;
   --nev-black:#121013;
   --new-blue:#484848;
}

* {
    box-sizing: border-box;
}
.head-in{
    background-color: var(--new-blue) ;
    margin: 0;
    
    
}
.color-header{
    color:black;
}
.header-info{
    background-image: url(../img/mainBaner.png);
    position: relative;
    height: 50vh;
    background-size: cover;
    min-height: 640px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    background-attachment: fixed;
    padding:  25px;
    
}
.head-locotn{
    background-color:var(--nev-black);
    display: flex;
    color: #fff;
    padding: 10px 150px ;
    grid-gap: 50px;
    align-items: flex-start;
    text-align: start;
    justify-content: center;
    align-items: center;
    
    
}
.info-head{
    align-items: center;
    padding: 5px 0px;
    display: grid;
    color:#fff ;
    text-decoration: none;
    /*grid-template-columns:repeat(1 , 5fr);*/
    margin: 0;
    display: flex;

    
}
.icons-head{
    justify-self: stretch;
    margin: 0;
}
.list-services{
    
    background-color: var(--nev-black);
    z-index: 2;
    text-align: center;
    padding: 10px;
    
}
.button{ 
    color: black;
    font-size: 25px;
    width: 200px;
    background: var(--lite-blue);
    padding: 0 15px;
    float: center;
    border-radius: 25px;
    text-decoration: none;
}
.big-but{
    font-size: 35px;
}
.lok{
    margin: 10px 40px;
}
.container{
    text-align: center;
    
     
}
h1{
    font-size: 40px;
}
.p-head{
    font-size: 20px;
    text-align:center;
    padding: 10px;
}
.pick{
    padding: 0 40px;
    text-align: center;
}
.moving-logo{
    display: flex;
    padding: 45px;
    text-align: center;
    align-items: flex-start;
    text-align: start;
    justify-content: space-evenly;
    
    
}
.logo-stor{
    padding: 10px;
}
.connexion{
    text-align: center;
    color: #fff;
    
}
.conect{
    display: flex;
    padding: 10px 25px;
    justify-content: center;
}
.containers1{
    border: 1px solid var(--lite-blue) ; 
    border-radius: 25px;
    text-transform: none;
    letter-spacing: normal;
    margin: 10px ;
    padding: 15px 25px 10px 20px;
    font-size: 14px;
}
p{
    margin-bottom: 1rem;
}
.containers{
    border: 1px solid var(--lite-blue) ;
    border-radius: 25px;
    text-transform: none;
    letter-spacing: normal;
    overflow-wrap: break-word;
    margin: 10px ;
    padding: 15px 55px 10px 50px;
    font-size: 14px;
    
}
.details{
    text-align: left;
}
.info{
    text-align: center;
    padding: 10px 10px;
    margin: 60px 550px 60px 250px;
    color: #fff;
}
.text{
    border: 1px solid var(--lite-blue) ;
    border-radius: 25px;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 16px;
    margin: 10px 30px;
    
}
.p{
    padding: 10px ; 
}
.info-logo{
    background-color: #484848;
    color: #fff;
    padding: 40px;
}
.our-advantage{
    display: flex;
    padding: 40px;
    text-align: right;
    justify-content: center;
}
.advantage{
    margin: 20px;
    overflow-wrap: break-word;
    text-align: center;
}
.foter{
    background-color: var(--nev-black);
    color: var(--lite-blue);
}
.footer-button{
    padding: 20px 40px;
    text-align: center;
    
}
.foter-block{
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;

}
.f-button{
    margin: 0 100px;
}
.foter-b{
    padding: 40px 40px ;
}
h3{
    text-align: center;
    font-size: 19px;
}
.main-logo{
    text-align: center;
    padding: 40px 40px;
}
.f-text{
    text-align: left;
    margin: 0 ;
    font-size: 20px;
}
.f2-text{
    text-align: right;
    margin: 0;
    font-size: 20px;
    
}